/* By Athlon Front-End Team */

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* CSS print */
@import "base/print";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

/* Vendor */

/* Components */

/* Browser specific styles */
@import "dirty/hacks";

body {
    background: $post-background;
    font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $text-color;

    .container-page {
        display: block;
        max-width: 1440px;
        background-color: white;
        height: 1024px;
        background-image: url(../images/content/senla_man.svg);
        background-repeat: no-repeat;
        background-position: right 5px bottom 71px;
        padding-top: 22px;
        padding-left: 23px;
        // margin: 0 auto;
    }

    .header-sections__items {
        display: inline-flex;
        flex-wrap: nowrap;
        width: 100%;
    }

    .image__logo {
        vertical-align: top;
    }

    .header-sections__search {
        margin-left: 20px;
        width: 100%;
        margin-right: 98px;
    }

    .header__input {
        width: 100%;
        max-width: 505px;
        height: 36px;
        background: linear-gradient(0deg, #f6f6f6, #f6f6f6), #fefefe;
        border: 1px solid #e2e2e2;
        box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        font-family: "Roboto";
        font-weight: 500;
        padding-left: 37px;
        padding-right: 37px;
    }
    .header__input::placeholder {
        color: #adadad;
    }

    .header__input:hover {
        color: black;
    }

    .icon__search {
        position: absolute;
        z-index: 1;
        color: #4d4d4d;
        top: 33px;
        margin-left: 13px;
    }
    .header__nav {
        max-width: 759px;
        margin-left: 1.1vw;
        margin-right: 24px;
    }
    .header-nav-menu__link {
        list-style: none;
        margin-top: 29px;
        display: flex;
        justify-content: start;
        border-top: 1px #e2e2e2 solid;

        a {
            text-decoration: none;
            font-weight: 900;
            color: #a9aaac;
        }

        li {
            display: flex;
            width: 100%;
            max-width: 175px;
            height: 30px;
            padding-top: 33px;
            justify-content: center;
            align-items: center;
        }

        li:hover {
            border-top: 4px #2f80ed solid;
            padding-top: 29px;
            transition: .1s;
            a {
                color: #000;
            }
        }

    }
}
