/* By Athlon Front-End Team */

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* CSS print */
@import "base/print";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

/* Vendor */

/* Components */

/* Browser specific styles */
@import "dirty/hacks";

body {
    background: $post-background;
    font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $text-color;

    .container-page {
        display: block;
        max-width: 1440px;
        background-color: white;
        height: 1024px;
        background-image: url(../images/content/senla_man.svg);
        background-repeat: no-repeat;
        background-position: right 5px bottom 71px;
        padding-top: 22px;
        padding-left: 23px;
    }
    .image__logo {
        vertical-align: top;
    }
    .header__input {
        width: 40.7%;
        height: 35px;
        margin-left: 16px;
        background: linear-gradient(0deg, #f6f6f6, #f6f6f6), #fefefe;
        border: 1px solid #e2e2e2;
        box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        font-family: "Roboto";
        font-weight: 500;
        color: #adadad;
    }
    .header-sections__search {
        display: inline-block;
    }
}
